<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuTogglerDispatch()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Libro Market</span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" class="navigation-menu" fxLayoutGap="10px">
      <li *ngIf="!userState"><a routerLink="/register">Registrar</a></li>
      <li *ngIf="!userState"><a routerLink="/login">Login</a></li>
      <li *ngIf="userState"><a routerLink="/">Home</a></li>
      <li (click)="sessionClose()" *ngIf="userState">
        <a routerLink="/">Salir</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
