<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onCloseMenu()" *ngIf="userStatus">
    <mat-icon>home</mat-icon>
    <span class="navigation-list-label">Inicio</span>
  </a>

  <a
    mat-list-item
    routerLink="/books"
    (click)="onCloseMenu()"
    *ngIf="userStatus"
  >
    <mat-icon>import_contacts</mat-icon>
    <span class="navegacion-list-label">Libros</span>
  </a>

  <a
    mat-list-item
    routerLink="/authors"
    (click)="onCloseMenu()"
    *ngIf="userStatus"
  >
    <mat-icon>supervisor_account</mat-icon>
    <span class="navegacion-list-label">Autores</span>
  </a>

  <a
    mat-list-item
    routerLink="/register"
    (click)="onCloseMenu()"
    *ngIf="!userStatus"
  >
    <mat-icon>how_to_reg</mat-icon>
    <span class="navigation-list-label">Registrar</span>
  </a>

  <a
    mat-list-item
    routerLink="/login"
    (click)="onCloseMenu()"
    *ngIf="!userStatus"
  >
    <mat-icon>login</mat-icon>
    <span class="navigation-list-label">Ingresar</span>
  </a>

  <mat-list-item>
    <button mat-icon-button (click)="sessionCloseMenu()" *ngIf="userStatus">
      <mat-icon>eject</mat-icon>
      <span class="navigation-list-label">Salir</span>
    </button>
  </mat-list-item>
</mat-nav-list>
